    <section id="body">
        <div id="container">
            <form action="submit">
                <div>
                    <label for="name">NAME:</label>
                    <input type="text" placeholder="Enter Name">
                </div>
                <div>
                    <label for="team">TEAM:</label>
                    <input type="text" placeholder="Enter Team Name">
                </div>
                <div>
                    <label for="team">STACK:</label>
                    <input type="text" placeholder="Enter Your Stack">
                </div>
                <div>
                    <label for="team">GENDER:</label>
                    <input type="text" placeholder="Enter Gender">
                <!-- </div>
                <label for="team">CRUD:</label>
                <input type="text"> -->
                <button>REGISTER</button>
            </form>
        </div>
    </section>