<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/register.css">

</head>
<body>
    <div id="container">
        <form action="submit">
            <div>
                <label for="name">NAME:</label>
                <input type="text" placeholder="Enter Name">
            </div>
            <div>
                <label for="team">TEAM:</label>
                <input type="text" placeholder="Enter Team Name">
            </div>
            <div>
                <label for="team">STACK:</label>
                <input type="text" placeholder="Enter Your Stack">
            </div>
            <div>
                <label for="team">GENDER:</label>
                <input type="text" placeholder="Enter Gender">
            <!-- </div>
            <label for="team">CRUD:</label>
            <input type="text"> -->

            <button>REGISTER</button>
        </form>
    </div>
</body>
</html>