<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div id="table">
        <button id="register">REGISTER</button>
        <table>
            <tr id="head">
                <th>NAME </th>
                <th>TEAM</th>
                <th>STACK</th>
                <th>GENDER</th>
                <th>CRUD</th>
            </tr>
            <tr id="line1">
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td><span>Edit</span> <span>Delete</span></td>
            </tr>
            <tr id="line2">
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td ><span>Edit</span> <span>Delete</span></td>
            </tr>
            <tr id="line3">
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td id="crud"><span>Edit</span> <span>Delete</span></td>
            </tr>
        </table>
    </div>
</body>
</html>