<div id="container">
    <form action="submit">
        <div>
            <label for="name">NAME:</label>
            <input type="text">
        </div>
        <div>
            <label for="team">TEAM:</label>
            <input type="text">
        </div>
        <div>
            <label for="team">STACK:</label>
            <input type="text">
        </div>
        <div>
            <label for="team">GENDER:</label>
            <input type="text">
        </div>
        <label for="team">CRUD:</label>
        <input type="text">

        <button>REGISTER</button>
    </form>
</div>