<div id="table">
    <table>
        <tr id="head">
            <th id="name">NAME </th>
            <th>TEAM</th>
            <th>STACK</th>
            <th>GENDER</th>
            <th>CRUD</th>
        </tr>
        <tr id="line1">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="crud"><span>Edit</span> <span>Delete</span></td>
        </tr>
        <tr id="line2">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="crud"><span>Edit</span> <span>Delete</span></td>
        </tr>
        <tr id="line3">
            <td> </td>
            <td></td>
            <td></td>
            <td></td>
            <td id="crud"><span>Edit</span> <span>Delete</span></td>
        </tr>
        <%=users%>
    </table>
    <a id="button" href="/form">REGISTER</a>
    

    
</div>
  