*{
    padding: 0;
    margin: 0;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;

}

#body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(95, 18, 30), purple);

}
#container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 62%;
    border: 1px solid black;  
    margin: 4rem auto;  
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.8);
    border: none;
    padding: 15px;

}
div{
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    justify-content: space-between;
}
label{
    position: relative;
    width: 100%;
    font: larger bolder;
    color: white;
}
input{
    width: 5cm;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 1.5rem;
    margin-top: 2px;
    font: x-large bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid black;
    outline: none;
}
.radio{
    margin: 0;
}
#radio{
    margin-top: -1.5rem;
}
.radi{
    margin: 0;
}

.button{
    margin: 2rem 30% 0 40%;
    padding: 5px 10px;
    font: large bolder;
    border: none;
    border-radius: 5px;
    background-color: black;
}
button a{
    text-decoration: none;
    color: white;
}

#table{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

table{
    display: flex;
    justify-content: center;
}
tr{
    display: flex;
    justify-content: space-between;
}
#head{
    
    background-color: green;
    padding: 15px 10px;

}
#line1, #line2, #line3{
    border-bottom: 3px solid #ddd;
    padding: 15px 0;
}
#line2{
    background-color: #f3f3f3;

}
th{
    margin: 0 3rem;
    padding: 0 20px;
}
#name{
    position: relative;
    right: 30px;
    margin-right: 1rem;
}
td{
    position: relative;
    /* right: 20px; */
    padding: 15px 12px 15px 0px;
}
#crud{
    position: relative;
    right: 30px;
  
}

#button{
    width: 8%;
    font: large bolder;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 8px 0;
}